/* styles.css */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }
   /* styles.css */
.fade-in {
    animation-name: fadeIn;
    animation-duration: 1s; /* Adjust duration as needed */
    animation-fill-mode: both; /* Keeps the style after animation ends */
   }
   